<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MYODelicious">

        <activity
            android:name=".ui.main.admin.g_pedidos.ItemPedidosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.usuario.AyudaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.usuario.HistorialPedidosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.admin.g_productos.GestionProductosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.admin.g_productos.NuevoProductoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.admin.ItemAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.carrito.PagoExitosoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.carrito.PasarelaPagoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.carrito.PasarePagosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.productos.DetalleProductoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.usuario.CuponDescuentoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.usuario.ConfiguracionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.usuario.CrearDireccionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.usuario.ItemDireccionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.usuario.DireccionesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.usuario.EditarPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.productos.ItemProductoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.CuentaCreadaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RecupPassOkActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RecuperacionPassActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.inicio.SlideFinalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.inicio.SlideSecundarioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.inicio.SlideInicialActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.inicio.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />


        </provider>


    </application>

</manifest>